<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933381572333-1cnfhekfvpvftage87qdkhqds7sfvl6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933381572333-1cnfhekfvpvftage87qdkhqds7sfvl6l</string>
	<key>API_KEY</key>
	<string>AIzaSyAd3n1RzoUjEflNHk3c7zFvWi2ellI1RX0</string>
	<key>GCM_SENDER_ID</key>
	<string>933381572333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ganda.fashion.app</string>
	<key>PROJECT_ID</key>
	<string>blackcow-demo-d92d9</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcow-demo-d92d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:933381572333:ios:1e755ef36f74ca01022ee4</string>
	<key>DATABASE_URL</key>
	<string>https://blackcow-demo-d92d9-default-rtdb.firebaseio.com</string>
</dict>
</plist>
